<form #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div class="row">
    <div class="form-group col-sm-12">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" [ngClass]="aplicaCssErro(nome)" name="nome" placeholder="Nome"
        required #nome="ngModel" [(ngModel)]="usuario.nome" id="nome" >
        <!-- <div>
          {{ nome.className}}
        </div> -->
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(nome)"
        msgErro="Nome é obrigatório">
      </app-campo-control-erro>
    </div>


    <div class="form-group col-sm-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" [ngClass]="aplicaCssErro(email)" id="email"
        name="email" placeholder="example@email.com"
        required email #email="ngModel" [(ngModel)]="usuario.email">

      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(email)"
        msgErro="Email é obrigatório">
      </app-campo-control-erro>
    </div>
  </div>

  <div ngModelGroup="endereco">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" name="cep" ngModel required #cep="ngModel"
        [ngClass]="aplicaCssErro(cep)" (blur)="consultaCEP($event.target.value, f)">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(cep)"
          msgErro="Cep é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-3">
        <label for="cep" class="control-label">Número</label>
        <input type="text" class="form-control" id="numero" name="numero" ngModel required #numero="ngModel"
          [ngClass]="aplicaCssErro(numero)">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(numero)"
          msgErro="Número é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-6">
        <label for="cep" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" name="complemento" ngModel #complemento="ngModel">
      </div>

      <div class="form-group col-md-12">
        <label for="cep" class="control-label">Rua</label>
        <input type="text" class="form-control" id="rua" name="rua" ngModel readonly required #rua="ngModel"
          [ngClass]="aplicaCssErro(rua)">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(rua)"
          msgErro="Rua é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-5">
        <label for="cep" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro" ngModel readonly required #bairro="ngModel"
          [ngClass]="aplicaCssErro(bairro)">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(bairro)"
          msgErro="Bairro é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-4">
        <label for="cep" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" ngModel readonly required #cidade="ngModel"
          [ngClass]="aplicaCssErro(cidade)">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(cidade)"
          msgErro="Cidade é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-3">
        <label for="cep" class="control-label">Estado</label>
        <input type="text" class="form-control" id="estado" name="estado" ngModel readonly required #estado="ngModel"
          [ngClass]="aplicaCssErro(estado)">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(estado)"
          msgErro="Estado é obrigatório">
        </app-campo-control-erro>
      </div>
    </div>
  </div>


  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>

  <app-form-debug [form]="f"></app-form-debug>
</form>
