<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Rotas Ng2</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive=""><a routerLink="">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
      <!--li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]">Curso com ID</a></li-->
      <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <!-- teste com id sendo passado
  <p>Entre com o id do curso</p>
  <input #idCurso>-->
  
  <!-- configurando as rotas para poder usar-->
  <router-outlet></router-outlet>
</div>