<div class="form-group">
  <label [attr.for]="id">{{ label }}</label>
  <input [type]="type" class="form-control" [ngClass]="classeCss" [attr.id]="id" [readonly]="!!isReadOnly" [(ngModel)]="value">

  <app-error-msg [control]="control" [label]="label"></app-error-msg>
</div>
