<p fundoAmarelo>
  Texto com fundo amarelo
</p>

<button fundoAmarelo>Botão com fundo amarelo.</button>

<p highlightMouse> 
  Texto com hightlight quando passo o mouse
</p>

<!-- <p highlight [defaultColor]="'gray'" [highlightColor]="'red'"> 
  Texto com hightlight com cores customizadas
</p> -->

<p [highlight]="'red'" [defaultColor]="'gray'"> 
  Texto com hightlight com cores customizadas
</p>

<h5>Diretiva Estrutura customizada = ngElse</h5>

<div *ngIf="mostrarCursos" >
  Lista de cursos aqui
</div>
<div *ngElse="mostrarCursos" >
  Não existem cursos para serem listados
</div>


<br>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
