<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>
  <meu-primeiro-component></meu-primeiro-component>
  <app-meu-primeiro2></app-meu-primeiro2>
  <app-cursos></app-cursos>
</div>
