<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cursos']" routerLinkActive="active">Cursos</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/rxjs-poc']" routerLinkActive="active">RxJS POC</a>
      </li>     
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>