<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row">
    <!-- <div class="form-group col-sm-12">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" [ngClass]="" formControlName="nome" id="nome" placeholder="Nome" >

      <app-error-msg
        [control]="form.get('nome')" label="Nome">
      </app-error-msg>
    </div> -->
    <div class="col-md-12">
      <app-input-field formControlName="nome" [classeCss]="aplicaCssErro('nome')" id="nome" label="Nome" [control]="form.get('nome')"></app-input-field>
    </div>

    <div class="form-group col-sm-12">
      <label for="email">Email</label>
      <input type="email" class="form-control"  [ngClass]="aplicaCssErro('email')" formControlName="email" id="email" placeholder="example@email.com">

      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('email')"
        msgErro="Email é obrigatório">
      </app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="verificaEmailInvalido('email')"
        msgErro="Email inválido">
      </app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="form.get('email').status === 'PENDING'"
        msgErro="Validando email...">
      </app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="form.get('email').status === 'VALID'"
        msgErro="Email válido">
      </app-campo-control-erro>
      <app-campo-control-erro
        [mostrarErro]="form.get('email').hasError('emailInvalido')"
        msgErro="Email já cadastrado">
      </app-campo-control-erro>
    </div>

    <div class="form-group col-sm-12">
      <label for="confirmarEmail">Confirmar Email</label>
      <input type="confirmarEmail" class="form-control"  [ngClass]="aplicaCssErro('confirmarEmail')"
        formControlName="confirmarEmail" id="confirmarEmail" placeholder="example@email.com">

      <app-campo-control-erro
        [mostrarErro]="form.get('confirmarEmail').hasError('equalsTo')"
        msgErro="Emails não iguais.">
      </app-campo-control-erro>
    </div>
  </div>

  <div formGroupName="endereco">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" name="cep"
          formControlName="cep"
          [ngClass]="aplicaCssErro('endereco.cep')">
          <!-- estava na input (blur)="consultaCEP()" -->
        <app-campo-control-erro
          [mostrarErro]="verificaRequired('endereco.cep')"
          msgErro="Cep é obrigatório">
        </app-campo-control-erro>
        <app-campo-control-erro
          [mostrarErro]="form.get('endereco.cep').hasError('cepInvalido')"
          msgErro="Cep inválido">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-3">
        <label for="cep" class="control-label">Número</label>
        <input type="text" class="form-control" id="numero" name="numero"
          formControlName="numero" [ngClass]="aplicaCssErro('endereco.numero')">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.numero')"
          msgErro="Número é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-6">
        <label for="cep" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" name="complemento" formControlName="complemento">
      </div>

      <div class="form-group col-md-12">
        <label for="cep" class="control-label">Rua</label>
        <input type="text" class="form-control" id="rua" name="rua"
          formControlName="rua" [ngClass]="aplicaCssErro('endereco.rua')">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.rua')"
          msgErro="Rua é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-5">
        <label for="cep" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro"
          formControlName="bairro" [ngClass]="aplicaCssErro('endereco.bairro')">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.bairro')"
          msgErro="Bairro é obrigatório">
        </app-campo-control-erro>
      </div>

      <!-- <div class="form-group col-md-4">
        <label for="cep" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade"
          formControlName="cidade" [ngClass]="aplicaCssErro('endereco.cidade')">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.cidade')"
          msgErro="Cidade é obrigatório">
        </app-campo-control-erro>
      </div> -->

      <div class="form-group col-md-3">
        <label for="cidade" class="control-label">Cidade</label>
        <select class="form-control" id="cidade"
          formControlName="cidade" [ngClass]="aplicaCssErro('endereco.cidade')">
          <!--<option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>-->
          <option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</option>
        </select>
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.cidade')"
          msgErro="Cidade é obrigatório">
        </app-campo-control-erro>
      </div>

      <div class="form-group col-md-3">
        <label for="cep" class="control-label">Estado</label>
        <select class="form-control" id="estado" name="estado"
          formControlName="estado" [ngClass]="aplicaCssErro('endereco.estado')">
          <!--<option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>-->
          <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.estado')"
          msgErro="Estado é obrigatório">
        </app-campo-control-erro>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-3">
      <label for="cargo" class="control-label">Cargo</label>
      <select class="form-control" id="cargo" name="cargo"
        formControlName="cargo" [ngClass]="aplicaCssErro('cargo')" [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label for="tecnologias" class="control-label">Tecnologias</label>
      <select multiple class="form-control" id="tecnologias" name="tecnologias"
        formControlName="tecnologias" [ngClass]="aplicaCssErro('tecnologias')">
        <option *ngFor="let tec of tecnologias" [value]="tec.nome">{{ tec.desc }}</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="newsletter" class="control-label">Newsletter</label>
      <div id="newsletter" class="row">
        <div class="col-sm-4" *ngFor="let item of newsletterOp">
          <label class="radio-inline">
            <input type="radio" [value]="item.valor" formControlName="newsletter"
              [ngClass]="aplicaCssErro('newsletter')"> {{ item.desc }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-3">
      <div class="checkbox">
        <label for="termos" class="checkbox-inline">
          <input type="checkbox" id="termos" formControlName="termos" [ngClass]="aplicaCssErro('termos')"> Aceito os termos.
        </label>
        <app-campo-control-erro
          [mostrarErro]="!form.get('termos').valid"
          msgErro="Por favor, aceite os termos.">
        </app-campo-control-erro>
      </div>
    </div>

    <div class="form-group col-md-3">
        <label for="frameworks">Frameworks</label>
        <div id="frameworks" class="row">
          <div class="checkbox col-sm-5" formArrayName="frameworks"
            *ngFor="let item of form.get('frameworks').controls; let i = index">
            <label class="checkbox-inline">
              <input type="checkbox" [formControlName]="i"> {{ frameworks[i] }}
            </label>
          </div>
        </div>
        <app-campo-control-erro
          [mostrarErro]="!form.get('frameworks').valid"
          msgErro="Por favor, selecione 1 opção.">
        </app-campo-control-erro>
      </div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-default" (click)="resetar()">Cancelar</button>
  <button type="button" class="btn btn-info" (click)="setarCargo()">Cargo</button>
  <button type="button" class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>

  <app-form-debug [form]="form"></app-form-debug>
</form>
