<!-- <app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-diretiva-ngfor></app-diretiva-ngfor> -->
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis>

<!-- <app-exemplo-ngcontent>
  Conteúdo passado para o componente
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ngcontent> -->

<app-exemplo-ngcontent>
  <div class="titulo">Título do painel</div>
  <div class="content">Conteúdo passado para o componente</div>
  <div class="content">Conteúdo passado para o componente 2.</div>
</app-exemplo-ngcontent>

<app-diretivas-customizadas></app-diretivas-customizadas>