<p>
  Lita de cursos
</p>
<p>Página: {{ pagina }}</p>
<div class="collection">
  <a href="!#" class="collection-item" *ngFor="let curso of cursos" [routerLink]="['/cursos', curso.id]">
    {{ curso.nome }}
  </a>
</div>

<button (click)="proximaPagina()">Próx. Página</button>

