<h5>Diretiva *ngFor</h5>

<ul>
  <li *ngFor="let curso of cursos" >
    {{ curso }}
  </li>
</ul>

<ul>
  <li *ngFor="let curso of cursos, let i = index" >
    {{ i + 1 }} - {{ curso }}
  </li>
</ul>

<!-- <h5>Removendo o * e usando template</h5> -->

<!-- <ul>
  <li template="ngFor let curso of cursos, let i = index" >
    {{ i + 1 }} - {{ curso }}
  </li>
</ul> -->
