<div>
  <button class="btn btn-primary" (click)="decrementa()">-</button>
  <input type="text" [value]="valor" readonly #campoInput>
  <button class="btn btn-primary" (click)="incrementa()">+</button>
  
</div>