    <section class="event-binding">
        
          <article>
            <h3>Event binding</h3>
            <div>
              <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>
        
              <br><br>
        
              <input type="text" (keyup)="onKeyUp($event)" 
                                 (Keyup.enter)="salvarValor($event.target.value)"
                                 (blur)="salvarValor(campoInput.value)"
                                 #campoInput>
        
              <p>Valor atual: {{ valorAtual }}</p>
              <p>Valor atual: {{ valorSalvo }}</p>
              
              <br>
              <span (mouseover)="onMouseOverOut()" 
                    (mouseout)="onMouseOverOut()"
                    [class.highlight]="isMouseOver">
                Passe o mouse sobre mim</span>
            </div>
          </article>
        </section>
        
        <section class="two-way-binding">
          <article>
            <h3>Two-way data binding</h3>
        
            <div>
        
                <input type="text" [value]="nome" (input)="nome = $event.target.value">
        
                <!-- diretiva -->
                <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event">
        
                <!-- two-way data binding -->
                <input type="text" [(ngModel)]="nome">
        
                <!-- sem atalho -->
                <input type="text" bindon-ngModel="nome">
        
                <p>Você digitou: {{ nome }}</p>
        
            </div>
        
            <div>
        
              <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>
        
              <input type="text" [(ngModel)]="pessoa.nome">
              <input type="text" [(ngModel)]="pessoa.idade">
            </div>
          </article>
        </section>