<section class="property-binding"> 

  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultade de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }} </p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}"> <!-- interpolation -->
    <img [src]="urlImagem"> <!-- property binding atalho -->
    <img bind-src="urlImagem"> <!-- property binding extenso -->
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Success</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alert</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
        <p>Texto colorido conforme valor do combobox</p>
      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Success</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info'</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Warning</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Danger</div>


      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Esse texto somente aparece em caso de erro
      </div>
    </div>
  </article>
</section>

<app-meu-form></app-meu-form>

<section class="input-output-properties">

  <article>
    <h3>Input/Output Properties</h3>

    <app-curso [nome]="nomeDoCurso"></app-curso>


    <contador [valor]="valorInicial" 
              (mudouValor)="onMudouValor($event)">
    </contador>
  </article>
</section>
