<form [formGroup]="form" class="needs-validation" novalidate autocomplete="off" >
  <div class="form-row">
    <div class="col-md-12">
      <label for="nome">Nome do Curso</label>
      <input
        type="text"
        id="nome"
        class="form-control"
        placeholder="Nome do curso"
        formControlName="nome"
        [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
      />
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['required']">
        Por favor, informe um nome para o curso
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['minlength']">
        Nome precisa ter no mínimo {{ hasError('nome')['minlength'].requiredLength }} caracteres
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['maxlength']">
        Nome precisa ter no máximo {{ hasError('nome')['maxlength'].requiredLength }} caracteres
      </div>
    </div>
  </div>
  <div class="mt-2"> 
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
