<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h4>Cursos</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loadingError">
      <thead>
        <tr>
          <th>#</th>
          <th>Curso</th>
          <th></th>
        </tr>        
      </thead>
      <tbody>
        <!--tr *ngFor="let curso of cursos$ | async" -->
        <tr *ngFor="let curso of cursos">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nome }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(curso.id)">Atualizar</button>
              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(curso)">Remover</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    
    <ng-template #loadingError>
      <div *ngIf="error$ | async, else loading">
        Erro ao carregar cursos. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
        <span>Carregando Cursos...</span>
      </ng-template>            
    </ng-template>
  </div>  
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza em remover esse curso?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>